{% extends "layout.html" %}

{% block jumbotron %}
    <div class="jumbotron">
        <h1 class="display-4">Benton County Animal Shelter</h1>
        <p class="lead">A shelter for cats and dogs</p>
        <hr class="my-4">
        <p>Come meet the next member of your family today!</p>
    </div>
{% endblock %}

{% block body %}

    <h2>About Us</h2>

    <p>The Benton County Animal Shelter provides a loving temporary home for cats and dogs who are awaiting adoption. Stray animals can be dropped off any time the shelter is open.  We would love to help you find a new pet, so please stop by to meet our animals!</p>

    <p>Because of the limited space in our animal shelter, we are currently only able to accept dogs and cats. Fundraising efforts are underway to allow us to build a bigger space in which we can also house birds, reptiles, and small furry animals.</p>

{% endblock %}